@using My5Paisa.Models
@using Hangfire

<div class="card">
    <h5 class="card-header">Trade Calls</h5>
    <div class="card-body">

        @foreach (var s in StrategyManager.AllStrategies)
        {
            @s.Name  @s.TriggerCronExpression
            <hr/>
            

            <Table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Script</th>
                        <th>Type</th>
                        <th>Rate</th>                      
                        <th>Target</th>
                        <th>Stop Loss</th>
                        <th>LTP</th>
                        <th>Status</th>
                        <th>Is Valid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tc in s.Trades)
                    {
                        string rowClass = "";
                        <tr class='@rowClass'>
                            <td>
                                @tc.ScriptName

                            </td>
                            <td>
                                @tc.OrderType
                                <span>&nbsp;-&nbsp;</span>
                                @tc.Qty
                            </td>                            
                            <td>
                                @tc.Price

                            </td>
                            
                            <td>
                                @tc.TargetPrice

                            </td>
                            <td>
                                @tc.StopLossPrice

                            </td>
                            <td>
                                @tc.LTP
                            </td>
                            <td>
                                @tc.Status

                            </td>
                            <td>
                                @tc.IsValid

                            </td>
                        </tr>
                    }

                </tbody>
            </Table>
            <a asp-controller="Home" asp-action="ClearAllTrades" class="btn btn-primary">Clear All</a>
            
        }


    </div>
</div>