@{
    ViewData["Title"] = "Nifty 50";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in SecurityManager.Instance.GetNifty50)
{
    <p>@item.Scripcode : @item.Name : @item.FullName</p>
}

@foreach (var message in SessionManager.Instance.Messages)
{
    <p>@message</p>
}